.m1jnn1pl {
    display: grid;
    align-items: start;
    justify-content: space-between;
    grid-column-gap: var(--spacing150);
    grid-row-gap: var(--spacing150);
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow:dense
}

.m1jnn1pl .main {
    grid-column:span 10
}

.m1jnn1pl .side-nav {
    grid-column:span 2
}

@media (max-width: 1023px) {
    .m1jnn1pl {
        grid-column-gap: var(--spacing150);
        grid-row-gap:var(--spacing150)
    }

    .m1jnn1pl .main {
        grid-column:span 12
    }

    .m1jnn1pl .side-nav {
        display: none;
        grid-column:span 0
    }
}

.fzr3ha2 {
    padding-top:65px
}

.b19radgi {
    margin-top: 0;
    text-align: right;
    flex-grow: 1;
    color: var(--color-actionBrand);
    opacity:0
}

@keyframes fadeIn-b19radgi {
    0%, to {
        opacity:0
    }

    20%, 80% {
        opacity:1
    }
}

.b19radgi .icon {
    height:1.125rem
}

.b19radgi.visible {
    animation-name: fadeIn-b19radgi;
    animation-delay: .5s;
    animation-timing-function: ease-in-out;
    animation-duration:2.5s
}

.s3icf2j {
    position: relative;
    grid-column: span 2;
    max-width: 165px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between
}

.s3icf2j a {
    -webkit-text-decoration: none;
    text-decoration: none;
    text-align:left
}

.s3icf2j.disabled {
    opacity: .6;
    pointer-events:none
}

.s3icf2j .bottom-nav {
    margin: 0;
    position: sticky;
    bottom:50px
}

.s3icf2j .bottom-nav button {
    background-color: var(--color-popoverCanvas);
    color: var(--color-textSecondary);
    font-size: var(--size150);
    border-radius: 50%;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 2px 0 0;
    pointer-events: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, .15);
    opacity: 0;
    transition:all .15s ease-in-out, opacity .45s ease-in-out
}

.s3icf2j .bottom-nav button:hover {
    color: var(--color-textPrimary);
    background-color: var(--color-actionPrimarySubdued);
    box-shadow:0 3px 10px rgba(0, 0, 0, .15)
}

.s3icf2j .bottom-nav button.visible {
    pointer-events: auto;
    opacity:1
}

.s3icf2j .dummy-nav {
    min-height:550px
}

.s1jxyudr {
    font-family: var(--fontSansSerif);
    font-weight: 500;
    line-height: 1;
    padding: var(--spacing050);
    margin: 25px 0 5px;
    color:var(--color-textSecondary)
}

.s1jxyudr, .sv813dg {
    font-size:var(--fontSize100)
}

.sv813dg {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 0 var(--size050);
    font-weight: 400;
    line-height: 24px;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 4px;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-align: left;
    color: var(--color-textPrimary);
    background-color:transparent
}

.sv813dg.wrap {
    align-items: flex-start;
    text-align: left;
    line-height:1.25
}

.sv813dg.tag-class {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: var(--fontSize085);
    text-align: left;
    padding: var(--spacing025) var(--spacing050);
    height:auto
}

.sv813dg .side-nav-icon {
    height: 24px;
    padding-right: 10px;
    margin-top:0
}

.sv813dg .beta {
    padding: 0 5px;
    margin-left:.75rem
}

.sv813dg:hover {
    color: var(--color-actionPrimary);
    background-color:transparent
}

.sv813dg:active, .sv813dg:focus {
    transition: none;
    color: var(--color-navCurrentTabText);
    outline:1px auto var(--color-navCurrentTab)
}

.sv813dg.active {
    color: var(--color-navCurrentTabText);
    background-color:var(--color-navCurrentTab)
}

.ljtooo1 {
    height:calc(100vh - 63px)
}

.l5s94ur, .ljtooo1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center
}

.l5s94ur {
    height:200px
}

.lmrglvq {
    display: inline-flex;
    justify-content:center
}

.lmrglvq svg {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    fill:currentColor
}

.lmrglvq .spin {
    display: inline-block;
    animation:bounce-lmrglvq 1.6s cubic-bezier(.44, .15, .59, .89) infinite both
}

.lmrglvq .circle {
    animation-delay:-.84s
}

.lmrglvq .circle svg {
    fill:var(--color-actionBrand)
}

.lmrglvq .triangle {
    animation-delay:-.42s
}

.lmrglvq .triangle svg {
    transform-origin: 7px 9px;
    width: 14px;
    height: 14px;
    fill: var(--color-amber);
    animation:spinTriangle-lmrglvq 1.6s ease-in-out infinite forwards
}

.lmrglvq .square svg {
    margin-bottom: 1px;
    width: 11px;
    height: 11px;
    animation: spinSquare-lmrglvq 1.6s ease-in-out infinite forwards;
    fill:#116a65
}

@keyframes bounce-lmrglvq {
    0%, 70%, to {
        transform:translateY(0)
    }

    35% {
        transform:translateY(-20px)
    }
}

@keyframes spinTriangle-lmrglvq {
    0% {
        transform:rotate(0deg)
    }

    40% {
        transform:rotate(120deg)
    }

    to {
        transform:rotate(120deg)
    }
}

@keyframes spinSquare-lmrglvq {
    0% {
        transform:rotate(0deg)
    }

    60% {
        transform:rotate(90deg)
    }

    to {
        transform:rotate(90deg)
    }
}

.ljv1j08 {
    grid-column: 1/-1;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-popoverCanvas);
    border: 1px solid var(--color-popoverBorder);
    border-radius: var(--borderRadius);
    margin-top: 2rem;
    font-family:var(--fontSansSerif)
}

.ljv1j08 > div {
    margin-left:.5rem
}

.l1imbxcz {
    transform: translateY(-200%);
    height: 350px;
    width: 100%;
    display: block;
    pointer-events: none;
    z-index:-1
}

.i18uycg6 {
    display: flex;
    padding: var(--size100) 0 var(--size025);
    justify-content:space-between
}

.i18uycg6 .item-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    position: relative;
    transform:translateX(-.25rem)
}

.m11fpiro {
    color: var(--color-textTertiary);
    height: 24px;
    background-color: transparent;
    border: none;
    padding: var(--size025);
    margin-right: var(--size025);
    box-sizing: content-box;
    white-space: nowrap;
    display: flex;
    border-radius: var(--borderRadius);
    transition:all .15s ease-out
}

.m11fpiro.active, .m11fpiro.active:active, .m11fpiro.active:focus, .m11fpiro.active:hover {
    color:var(--color-amber)
}

.m11fpiro .icon {
    height: 24px;
    margin:0
}

.m11fpiro .actionText {
    display: inline-block;
    margin-left:var(--size050)
}

.m11fpiro svg {
    fill: currentColor;
    margin:0
}

.m11fpiro:active, .m11fpiro:focus, .m11fpiro:hover {
    background-color: var(--color-canvas);
    color: var(--color-textLinkHover);
    cursor:pointer
}

.m11fpiro:active, .m11fpiro:focus {
    transition: none;
    color: var(--color-navCurrentTabText);
    outline:1px auto var(--color-navCurrentTab)
}

.paazj57 {
    background-color: var(--color-canvas);
    color: var(--color-textPrimary);
    border-radius: 4px;
    box-shadow: var(--size025) var(--size025) var(--size100) rgba(0, 0, 0, .1);
    z-index: var(--zIndexTooltip);
    font-size:var(--fontSize100)
}

.p8t2qn2 {
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
    height: 40px;
    padding: 0 1rem;
    color: var(--color-textSecondary);
    -webkit-text-decoration: none;
    text-decoration: none;
    border-radius:var(--borderRadius)
}

.p8t2qn2 svg {
    fill:currentColor
}

.p8t2qn2 span {
    margin-bottom: -5px;
    width: 24px;
    height: 24px;
    margin-right:.5em
}

.p8t2qn2:focus {
    outline:none
}

.p8t2qn2:focus, .p8t2qn2:hover {
    background-color:var(--color-actionPrimarySubdued)
}

.l6z6kw9 {
    position: relative;
    margin-top:2rem
}

.h189afap {
    background-color:#fff8ec
}

.h189afap svg {
    color: #ffc25e;
    padding-right:4px
}

.h189afap span {
    color:#976d28
}

.whw7f9r {
    padding: 0 5px;
    width: 24px;
    justify-content: center;
    background-color: #1eabf9;
    color:var(--color-canvas)
}

.t1uit59l {
    background-color: #e8f7f6;
    color:#1cb0a8
}

.f166jgra {
    padding: 0 5px;
    width: 24px;
    justify-content: center;
    background-color: var(--color-amber);
    color:var(--color-canvas)
}

.b1y8e1q1 {
    background-color: #fdecee;
    color:#ef4056
}

.s9w7e37 {
    cursor: pointer;
    color: #1eabf9;
    border:1px solid #1eabf9
}

.s9w7e37, .s9w7e37:hover {
    background-color:var(--color-canvas)
}

.s9w7e37:hover {
    color: #286f96;
    border:1px solid #286f96
}

.i1h0u21y {
    max-width: 100%;
    display: inline-block;
    margin-bottom:.6em
}

.i1h0u21y input {
    font-family: Graphik Web;
    background-color: transparent;
    line-height: 22px;
    padding: 0;
    font-size: 16px;
    color: var(--color-formFieldTextPrimary);
    border:none
}

.i1h0u21y input:focus {
    outline:none
}

.a157jxs6 {
    overflow: hidden;
    max-width:100%
}

.i18xvto0 {
    display: block;
    min-width: 1em;
    border: 0;
    line-height: 16px;
    padding:2px 0
}

.tchv94s {
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid var(--color-formFieldBorder);
    padding: .7em .7em 0;
    min-height: 2em;
    position:relative
}

.s14u4bdf, .tchv94s {
    display: block;
    width:100%
}

.s14u4bdf {
    padding: var(--size125) 0 0;
    min-height: 50px;
    font-family:Graphik Web
}

.s14u4bdf.subtext {
    color:var(--color-textTertiary)
}

.sryzzub {
    margin:0 10px 10px 0
}

.lwq3eyf {
    font-family: Graphik Web;
    font-weight: 500;
    line-height: 132%;
    color: var(--color-actionPrimary);
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration:none
}

.lwq3eyf:hover {
    color: var(--color-actionPrimaryHover);
    -webkit-text-decoration: underline;
    text-decoration:underline
}

.lwq3eyf .arrow-icon {
    margin-left: .15rem;
    vertical-align: text-bottom;
    height:1.1rem
}

.uo1llzw {
    font-family: Graphik Web;
    font-weight: 500;
    padding: var(--spacing075) 0;
    width:100%
}

.uo1llzw, .uo1llzw p {
    font-size: 16px;
    line-height:130%
}

.uo1llzw p {
    font-weight: 400;
    margin: 0;
    color:var(--color-textSecondary)
}

.uo1llzw p svg {
    width: 19px;
    height: 17.5px;
    margin-right:5px
}

.t1bajq8v {
    max-height: 7rem;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    outline: 0;
    transition: opacity .1s ease;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, .15);
    box-sizing: border-box;
    position: absolute;
    left: 0;
    padding: .5rem 0;
    width: 100%;
    z-index: var(--zIndexTooltip);
    background-color:var(--color-popoverCanvas)
}

.t1bajq8v::-webkit-scrollbar {
    display:none
}

.iqzeq5h {
    font-family: Graphik Web;
    position: relative;
    cursor: pointer;
    display: block;
    height: auto;
    text-align: left;
    border: none;
    line-height: 1em;
    color: var(--color-textSecondary);
    font-size: 1rem;
    text-transform: none;
    font-weight: 400;
    box-shadow: none;
    box-sizing: border-box;
    padding: .3rem 1.1rem;
    white-space: normal;
    word-wrap:normal
}

.iqzeq5h.isActive, .iqzeq5h:hover {
    background:var(--color-actionPrimarySubdued)
}

.b1ke8nt6 {
    display: block;
    width: 100%;
    z-index: var(--zIndexHeader);
    padding: var(--spacing025) 0;
    color: var(--color-textPrimary);
    border: 1px solid var(--color-dividerTertiary);
    border-radius: calc(var(--fontSize085) / 2 + var(--spacing050));
    position: relative;
    overflow:hidden
}

.b1ke8nt6:after {
    border: 4px solid var(--color-canvas);
    border-radius: 16px;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0
}

.b1ke8nt6 > div {
    box-sizing: content-box;
    border-radius: calc(var(--fontSize085) / 2 + var(--spacing050));
    background-color: var(--color-actionPrimary);
    height: 100%;
    width: 100%;
    transition: transform 1s linear;
    padding:var(--spacing050) var(--spacing100)
}

.sdsmk1n {
    display: flex;
    padding: 4px;
    background: none;
    transition: background-color .1s ease-out;
    color: var(--color-textSecondary);
    font-size: var(--fontSize100);
    font-family: var(--fontSansSerif);
    font-weight: 500;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-align: left;
    line-height: 1.5rem;
    border-radius: 0;
    margin:0
}

.sdsmk1n:hover {
    color: var(--color-actionPrimaryHover);
    background:none
}

.sdsmk1n:focus {
    transition: none;
    color: var(--color-navCurrentTabText);
    outline:1px auto var(--color-navCurrentTab)
}

.sdsmk1n .icon {
    height: 1.5rem;
    line-height: 1rem;
    margin-right: 0;
    margin-top:1px
}

.s189bqdb {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:space-around
}

.t1gozoof button {
    width: 100%;
    border-radius: 0;
    text-align: center;
    font-weight: 400;
    padding: var(--size075) 0;
    border-right: var(--dividerStyle);
    border-bottom: var(--dividerStyle);
    transition:none
}

.t1gozoof button:last-of-type {
    border-right:none
}

.t1gozoof button:active, .t1gozoof button:hover {
    background-color: var(--color-navCurrentTab);
    color: #000;
    color:initial
}

.t1gozoof button:focus {
    transition: none;
    color: var(--color-navCurrentTabText);
    outline:1px auto var(--color-navCurrentTab)
}

.t1gozoof button.active {
    border-bottom-color:var(--color-popoverCanvas)
}

.t1gozoof button.active:active, .t1gozoof button.active:hover {
    cursor: auto;
    background-color: transparent;
    background-color: initial;
    color: #000;
    color:initial
}

.rn5yt6b {
    display: flex;
    width: 100%;
    align-items: center;
    align-content:center
}

.rn5yt6b textarea {
    height:2.5rem
}

.rn5yt6b button {
    margin-left:var(--spacing100)
}

.s11ysu1r {
    margin: var(--spacing050) 0;
    padding: 0 var(--spacing100);
    border-left: 1px solid var(--color-dividerSecondary);
    color: var(--color-textSecondary);
    font-style: italic;
    font-size:var(--fontSize085)
}

.i1roy3pw input[type=text] {
    max-width:none
}

@keyframes fadeIn-f1puhe4v {
    0% {
        opacity:0
    }

    to {
        opacity:1
    }
}

@keyframes fadeOut-f1puhe4v {
    0% {
        opacity:1
    }

    to {
        opacity:0
    }
}

.f1puhe4v.fadeIn {
    animation:fadeIn-f1puhe4v 1s
}

.f1puhe4v.fadeOut {
    animation:fadeOut-f1puhe4v 1s
}

.t1v6f4ob {
    text-align: left;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    transform:translateZ(.01)
}

.t1mk1s74 {
    display: inline-grid;
    grid-template-columns: auto 16px;
    gap: 16px;
    align-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;
    font-family: Graphik Web;
    text-align: left;
    padding: 20px;
    margin: 20px 0 0;
    min-width: 275px;
    border-radius:4px
}

.t1mk1s74, .t1mk1s74.neutral, .t1mk1s74.success {
    background-color: var(--color-navCurrentTab);
    color:var(--color-navCurrentTabText)
}

.t1mk1s74.warn {
    background-color: var(--color-error);
    color:var(--color-actionBrandText)
}

.c19ufnsw {
    cursor: pointer;
    justify-self:end
}

.c19ufnsw:hover {
    background:transparent
}

.t1qdyznf {
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index:var(--zIndexModal)
}

.saqrz8k {
    box-sizing: content-box;
    padding:0 2.5rem
}

@media (max-width: 719px) {
    .saqrz8k {
        padding:0 1.5rem
    }
}

@media (max-width: 599px) {
    .saqrz8k {
        padding:0 1rem
    }
}

.saqrz8k .inner {
    margin: 0 auto;
    max-width:1128px
}

.saqrz8k.homeSection {
    padding-top:4.25rem
}

.saqrz8k .controls {
    display: flex;
    justify-content: flex-end;
    padding-top:1rem
}

.saqrz8k .controls button {
    font-size: 1.25rem;
    border: var(--borderStyle);
    border-radius: 50%;
    margin-left: 1rem;
    padding:.5rem
}

.soy7dq2 {
    font-family: var(--fontSansSerif);
    background-color: var(--color-actionPrimary);
    color: var(--color-white100);
    padding: 1rem;
    border-radius: var(--borderRadius);
    box-shadow:0 3px 10px rgba(0, 0, 0, .3)
}

.soy7dq2 p {
    font-size: var(--fontSize100);
    margin-bottom:0
}

.soy7dq2 .snackbar_title {
    display: flex;
    align-items: center;
    justify-content:space-between
}

.soy7dq2 button {
    padding:.5rem
}

.w1sa61ai.my-list {
    padding: 0;
    margin-bottom:2rem
}

.w1sa61ai.home {
    margin-top:2rem
}

.c61kr8s, .c61kr8s:active, .c61kr8s:focus, .c61kr8s:hover {
    color:var(--color-white100)
}

.fnu3mcy {
    position: relative;
    font-style: normal;
    padding-left: 1.5rem;
    display: inline-flex;
    vertical-align:center
}

.fnu3mcy, .fnu3mcy .filter-menu button {
    font-weight: 300;
    align-items: center;
    align-content: center;
    font-size:var(--fontSize085)
}

.fnu3mcy .filter-menu button {
    display: flex;
    width: 100%;
    padding: 0 20px 0 30px;
    line-height: 1.25;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 4px;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: var(--color-textPrimary);
    background-color: transparent;
    white-space:nowrap
}

.fnu3mcy .filter-menu button:hover {
    color: var(--color-actionPrimary);
    background-color:transparent
}

.fnu3mcy .filter-menu button:active, .fnu3mcy .filter-menu button:focus {
    transition: none;
    color: var(--color-actionPrimary);
    outline:1px auto var(--color-navCurrentTab)
}

.fnu3mcy .filter-menu button.active {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" aria-hidden="true"><path fill="currentColor" fillRule="evenodd" d="M21.707 5.293a1 1 0 010 1.414l-12 12a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 16.586 20.293 5.293a1 1 0 011.414 0z" clip-rule="evenodd" /></svg>');
    background-repeat: no-repeat;
    background-position: 10px 9px;
    background-size:1em
}

.fnu3mcy .filter-trigger {
    cursor: pointer;
    outline-offset:4px
}

.fnu3mcy .filter-menu {
    background-color: var(--color-canvas);
    color: var(--color-textPrimary);
    border-radius: 4px;
    box-shadow: var(--size025) var(--size025) var(--size100) rgba(0, 0, 0, .1);
    z-index:var(--zIndexTooltip)
}

.s1xenxab {
    display: inline-block;
    margin-left: .75rem;
    padding: .25rem .5rem;
    border-radius: var(--borderRadius);
    border:2px solid var(--color-canvas)
}

.s1xenxab:hover {
    color:var(--color-textLinkHover)
}

.s1xenxab .icon {
    height: 1.5rem;
    width:1.5rem
}

.m1nf84in {
    margin-bottom: var(--spacing150);
    border-bottom: 1px solid var(--color-dividerTertiary);
    display: flex;
    justify-content: space-between;
    align-items:first baseline
}

.m1nf84in, .m1nf84in h1 {
    font-family:Graphik Web
}

.m1nf84in h1 {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: var(--fontSize150);
    line-height: 1.2;
    -webkit-letter-spacing: -.005em;
    -moz-letter-spacing: -.005em;
    -ms-letter-spacing: -.005em;
    letter-spacing: -.005em;
    margin-bottom:var(--spacing100)
}

@media (max-width: 1023px) {
    .m1nf84in h1 {
        font-size:var(--fontSize200)
    }
}

@media (max-width: 599px) {
    .m1nf84in h1 {
        font-size:var(--fontSize150)
    }
}

@media (max-width: 399px) {
    .m1nf84in h1 {
        font-size:var(--fontSize125)
    }
}

.m1nf84in .filter-wrapper {
    flex-grow:1
}

.m1nf84in .list-sort {
    vertical-align:top
}

@media (max-width: 1023px) {
    .m1nf84in .list-sort {
        margin-top:.5rem
    }
}

@media (max-width: 599px) {
    .m1nf84in .list-sort {
        margin-top:0
    }

    .m1nf84in .list-sort .icon {
        height: 1.5rem;
        width:1.5rem
    }
}

@media (max-width: 399px) {
    .m1nf84in .list-sort {
        margin-top:-.25rem
    }

    .m1nf84in .list-sort .icon {
        height: 1.25rem;
        width:1.25rem
    }
}

.t6whhbv header {
    border-bottom: 0;
    margin-bottom:0
}

.t6whhbv h1 {
    margin-bottom:0
}

.t6whhbv .tag-actions {
    width: 100%;
    display: inline-block;
    padding-bottom: var(--spacing050);
    border-bottom:1px solid var(--color-dividerTertiary)
}

.t6whhbv .tag-actions .icon {
    margin-right:var(--size050)
}

.t6whhbv .tag-actions button {
    font-size: 16px;
    color:var(--color-textTertiary)
}

.t6whhbv .tag-actions button:hover {
    color:var(--color-textLinkHover)
}

@media (max-width: 1023px) {
    .suns7i2 {
        flex-wrap:wrap
    }

    .suns7i2 .filter-wrapper {
        margin-bottom: 1rem;
        padding-left: 0;
        order: 3;
        width:100%
    }
}

.c1gz9fnf {
    display: grid;
    align-items: start;
    justify-content: space-between;
    grid-column-gap: var(--spacing150);
    grid-row-gap: var(--spacing150);
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow:dense
}

@media (max-width: 599px) {
    .c1gz9fnf {
        grid-column-gap: var(--spacing100);
        grid-row-gap:var(--spacing100)
    }
}

.cmg9k0j {
    padding: var(--size250) 0 0;
    box-sizing:content-box
}

@media (max-width: 719px) {
    .cmg9k0j {
        padding:var(--size250) 0 0
    }
}

@media (max-width: 599px) {
    .cmg9k0j {
        padding:var(--size150) 0 0
    }
}

.cmg9k0j.list + .list {
    padding-top:var(--spacing150)
}

.cmg9k0j.no-border, .cmg9k0j.no-border article:last-of-type {
    border-bottom:none
}

header + .cmg9k0j {
    padding-top:0
}

.cmg9k0j.list + .lockupCenter, .cmg9k0j.list + .lockupLeft, .cmg9k0j.list + .lockupRight {
    border-top: 1px solid var(--color-dividerTertiary);
    padding-top:var(--spacing250)
}

.ranq9ty {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 1px;
    opacity: 0;
    pointer-events:none
}

.c1qfws8i {
    display: grid;
    align-items: start;
    justify-content: space-between;
    grid-column-gap: var(--spacing150);
    grid-row-gap: var(--spacing150);
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow:dense
}

@media (max-width: 599px) {
    .c1qfws8i {
        grid-column-gap: var(--spacing100);
        grid-row-gap:var(--spacing100)
    }
}

.c1qfws8i article {
    height:351px
}

@media (max-width: 839px) {
    .c1qfws8i article {
        height:326px
    }
}

@media (max-width: 719px) {
    .c1qfws8i article {
        height:174px
    }
}

@media (max-width: 599px) {
    .c1qfws8i article {
        height:154px
    }
}

.c3iqxh2 {
    display: grid;
    align-items: start;
    justify-content: space-between;
    grid-column-gap: var(--spacing150);
    grid-row-gap: var(--spacing150);
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: dense;
    grid-row-gap:0
}

@media (max-width: 599px) {
    .c3iqxh2 {
        grid-column-gap: var(--spacing100);
        grid-row-gap:var(--spacing100)
    }
}

.c1yvxwmt {
    display: grid;
    align-items: start;
    justify-content: space-between;
    grid-column-gap: var(--spacing150);
    grid-row-gap: var(--spacing150);
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: dense;
    grid-row-gap:0
}

@media (max-width: 599px) {
    .c1yvxwmt {
        grid-column-gap: var(--spacing100);
        grid-row-gap:var(--spacing100)
    }
}

.ld5klde {
    grid-column: 1/-1;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-popoverCanvas);
    border: 1px solid var(--color-popoverBorder);
    border-radius: var(--borderRadius);
    margin-top: 2rem;
    font-family:var(--fontSansSerif)
}

.ld5klde > div {
    margin-left:.5rem
}

.w1p48pk0 {
    color: var(--color-textPrimary);
    width: 100%;
    padding: var(--spacing400) 0;
    border-bottom:var(--dividerStyle)
}

.w1p48pk0 .brandBlock {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top:24px
}

.w1p48pk0 blockquote {
    position: relative;
    text-align: center;
    max-width: 833px;
    background-color: var(--color-calloutBackgroundPrimary);
    padding: var(--spacing250) var(--size400);
    margin: 0;
    font-family: var(--fontSerifAlt);
    font-size: var(--fontSize175);
    font-weight: 500;
    line-height:1.29
}

.w1p48pk0 aside {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--fontSansSerif);
    font-size: var(--fontSize085);
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
    z-index: var(--zIndexTooltip);
    padding: var(--spacing100);
    background-color:var(--color-calloutBackgroundSecondary)
}

.w1p48pk0 .squiggle {
    stroke:var(--color-calloutAccent)
}

.w1p48pk0 .copy {
    position:relative
}

.w1p48pk0 .zigzag {
    position: absolute;
    top: 0;
    left: calc(-1 * var(--size100));
    transform:translate(-100%, 50%)
}

@media (max-width: 1023px) {
    .w1p48pk0 .brandBlock {
        padding-left: 18%;
        justify-content:flex-end
    }

    .w1p48pk0 blockquote {
        text-align: center;
        font-size:var(--fontSize150)
    }

    .w1p48pk0 aside {
        font-size:var(--fontSize075)
    }
}

@media (max-width: 839px) {
    .w1p48pk0 .brandBlock {
        padding-top:var(--spacing150)
    }

    .w1p48pk0 blockquote {
        padding:var(--size200) var(--size250)
    }

    .w1p48pk0 aside {
        font-size: var(--fontSize075);
        padding:var(--spacing075)
    }
}

@media (max-width: 599px) {
    .w1p48pk0 {
        padding:var(--spacing250) 0
    }

    .w1p48pk0 blockquote {
        font-size:var(--fontSize125)
    }
}

@media (max-width: 399px) {
    .w1p48pk0 .brandBlock {
        padding-top:var(--spacing100)
    }

    .w1p48pk0 blockquote {
        padding: var(--spacing100) var(--size150);
        font-size:var(--fontSize100)
    }

    .w1p48pk0 aside {
        font-size: var(--fontSize065);
        padding:var(--spacing050)
    }
}

.t8olfwd button {
    width: 100%;
    border-radius: 0;
    text-align: center;
    font-weight: 400;
    padding: 12px 0;
    border-right: var(--dividerStyle);
    border-bottom: var(--dividerStyle);
    transition:none
}

.t8olfwd button:last-of-type {
    border-right:none
}

.t8olfwd button:active, .t8olfwd button:hover {
    background-color: var(--color-navCurrentTab);
    color: #000;
    color:initial
}

.t8olfwd button:focus {
    transition: none;
    color: var(--color-navCurrentTabText);
    outline:1px auto var(--color-navCurrentTab)
}

.t8olfwd button.active {
    border-bottom-color:var(--color-popoverCanvas)
}

.t8olfwd button.active:active, .t8olfwd button.active:hover {
    cursor: auto;
    background-color: transparent;
    background-color: initial;
    color: #000;
    color:initial
}

.s1q52z1b {
    margin: 0;
    justify-content: space-around;
    padding:16px 24px
}

.rsujqu1, .s1q52z1b {
    width: 100%;
    display: flex;
    align-items: center;
    align-content:center
}

.rsujqu1 textarea {
    height:2.5rem
}

.rsujqu1 button {
    margin-left:16px
}

.s11a5q0i {
    margin: var(--spacing050) 0;
    padding: 0 var(--spacing100);
    border-left: 1px solid var(--color-dividerSecondary);
    color: var(--color-textSecondary);
    font-style: italic;
    font-size: var(--fontSize085)
}
/*# sourceMappingURL=5ba18fb47aff7d05.css.map*/

