{% load static %}
<!DOCTYPE html>
<html lang="ko" class="colormode-light">

<head>
    <meta charset="utf-8">
    <script type="module" src="{% static '/js/get-site-list.js' %}"></script>
    <script src="https://kit.fontawesome.com/c7083b595c.js" crossorigin="anonymous"></script>
    

    <link rel="stylesheet" href="{% static '/css/modal.css' %}">
    <link rel="stylesheet" href="{% static '/css/mylist/base.css' %}">
    <link rel="stylesheet" href="{% static '/css/mylist/nav.css' %}">    
    <link rel="stylesheet" href="{% static '/css/mylist/header.css' %}">
    <link rel="stylesheet" href="{% static '/css/mylist/body.css' %}">
    <link rel="shortcut icon" href="{% static 'images/common/favicon.ico' %}">
    
    <title>Devket</title>
</head>


<body>
    <div id="__next">

        <!-- HEADER -->
        {% include 'mylist/header.html' %}

        <div class="fzr3ha2">
            <div class="p16bck5y">
                <div class="m1jnn1pl">
                    <div class="s3icf2j side-nav" data-cy="side-nav">
                        <nav role="navigation">
                            <button onclick="location.href='{% url 'home' %}'" class="sv813dg" id="home" data-cy="side-nav-home">
                                <span class="i1qqph0t icon side-nav-icon">
                                    <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                        aria-hidden="true">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M10.671 1.442a2.004 2.004 0 0 1 2.658 0l8 7.09c.427.378.671.92.671 1.49v9.922a1.997 1.997 0 0 1-2 1.994h-3c-1.105 0-2-.893-2-1.994v-4.985c0-.275-.175-1.072-.689-1.789-.48-.67-1.201-1.203-2.311-1.203-1.11 0-1.831.533-2.311 1.203C9.175 13.887 9 14.684 9 14.96v4.986a1.996 1.996 0 0 1-2 1.993H4c-1.105 0-2-.893-2-1.994v-9.922c0-.57.244-1.112.671-1.49l8-7.09ZM12 2.932l-8 7.09v9.922h3v-4.985c0-.723.325-1.92 1.061-2.948.77-1.074 2.049-2.038 3.939-2.038 1.89 0 3.169.963 3.939 2.038.736 1.028 1.061 2.225 1.061 2.948v4.985h3v-9.922l-8-7.09ZM7 19.944Zm.002 0H7h.002Zm0 0Z">
                                        </path>
                                    </svg>
                                </span> 홈
                            </button>
                            <button onclick="location.href='{% url 'mylist' %}'" class="sv813dg" id="mylist" data-cy="side-nav-mylist">
                                <span class="i1qqph0t icon side-nav-icon">
                                    <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                        aria-hidden="true">
                                        <path
                                            d="M5 5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM5 19a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z">
                                        </path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M7 5a1 1 0 0 1 1-1h13a1 1 0 1 1 0 2H8a1 1 0 0 1-1-1ZM7 12a1 1 0 0 1 1-1h13a1 1 0 1 1 0 2H8a1 1 0 0 1-1-1ZM7 19a1 1 0 0 1 1-1h13a1 1 0 1 1 0 2H8a1 1 0 0 1-1-1Z">
                                        </path>
                                    </svg>
                                </span> 내 목록
                                <span class="b19radgi">
                                    <span class="i1qqph0t icon">
                                        <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                            aria-hidden="true">
                                            <path
                                                d="M18.765 22.848a2 2 0 0 1-2.18-.434L12 17.828l-4.586 4.586A2 2 0 0 1 4 21V6a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v15a2 2 0 0 1-1.235 1.848Z">
                                            </path>
                                        </svg>
                                    </span>
                                </span>
                            </button>
                            <div class="s1jxyudr">필터
                            </div>

                            <button onclick="" type="click" class="sv813dg" id="categories" data-cy="side-nav-archive">
                                <span class="i1qqph0t icon side-nav-icon">
                                    <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4a2 2 0 0 1 2-2h18a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4Zm2 0v2h18V4H3Z"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3 8a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4V8Zm2 10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V8H5v10Z"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.707 11.293a1 1 0 0 1 0 1.414l-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 1 1 1.414-1.414L11 14.586l3.293-3.293a1 1 0 0 1 1.414 0Z"></path>
                                    </svg>
                                </span> 카테고리
                            </button>

                            <button onclick="location.href='{% url 'favorites' %}'" type="click" class="sv813dg" id="favorites" data-cy="side-nav-favorites">
                                <span class="i1qqph0t icon side-nav-icon">
                                    <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                        aria-hidden="true">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M12 1a1 1 0 0 1 .897.557l2.706 5.484 6.051.88a1 1 0 0 1 .555 1.705l-4.38 4.268 1.034 6.027a1 1 0 0 1-1.45 1.054L12 18.13l-5.413 2.845a1 1 0 0 1-1.45-1.054l1.033-6.027-4.379-4.268a1 1 0 0 1 .555-1.706l6.051-.88 2.706-5.483A1 1 0 0 1 12 1Zm0 3.26L9.958 8.397a1 1 0 0 1-.753.548l-4.567.663 3.305 3.221a1 1 0 0 1 .287.885l-.78 4.548 4.085-2.147a1 1 0 0 1 .93 0l4.085 2.147-.78-4.548a1 1 0 0 1 .287-.885l3.305-3.22-4.567-.664a1 1 0 0 1-.753-.548L12 4.26Z">
                                        </path>
                                    </svg>
                                </span> 즐겨찾기
                            </button>
                            
                            <button onclick="#" type="click" class="sv813dg" id="highlights" data-cy="side-nav-highlights">
                                <span class="i1qqph0t icon side-nav-icon">
                                    <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                        aria-hidden="true">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M5.512 8.546a3 3 0 0 0-.51 4.195l-.724.723a3.001 3.001 0 0 0-.586 3.415L1.18 19.391a1 1 0 0 0 .39 1.656l4.243 1.414a1 1 0 0 0 1.023-.241l1.098-1.098a3.001 3.001 0 0 0 3.415-.586l.746-.746a3.001 3.001 0 0 0 4.133-.77l6.406-9.15a3 3 0 0 0-.337-3.842l-4.112-4.112a3 3 0 0 0-3.98-.233L5.512 8.546Zm9.932-5.294-8.693 6.863a1 1 0 0 0-.087 1.492l6.4 6.4a1 1 0 0 0 1.526-.134l6.405-9.15a1 1 0 0 0-.112-1.28L16.771 3.33a1 1 0 0 0-1.327-.078ZM6.4 14.172l-.707.707a1 1 0 0 0 0 1.414l2.829 2.828a1 1 0 0 0 1.414 0l.707-.707L6.4 14.172Z">
                                        </path>
                                    </svg>
                                </span> 하이라이트
                            </button>

                            <button onclick="location.href='{% url 'articles' %}'"  type="click" class="sv813dg articles" id="articles" data-cy="side-nav-articles">
                                <span class="i1qqph0t icon side-nav-icon">
                                    <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                        aria-hidden="true">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M17 4H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2ZM7 2a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h10a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4H7Z">
                                        </path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M7 8a1 1 0 0 1 1-1h8a1 1 0 1 1 0 2H8a1 1 0 0 1-1-1ZM7 12a1 1 0 0 1 1-1h8a1 1 0 1 1 0 2H8a1 1 0 0 1-1-1ZM7 16a1 1 0 0 1 1-1h4a1 1 0 1 1 0 2H8a1 1 0 0 1-1-1Z">
                                        </path>
                                    </svg>
                                </span> 아티클
                            </button>

                            <button onclick="location.href='{% url 'videos' %}'" type="click" class="sv813dg videos" id="videos" data-cy="side-nav-videos">
                                <span class="i1qqph0t icon side-nav-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                                        <rect width="18" height="18" x="3" y="3" stroke="currentColor" fill="none"
                                            stroke-width="2" rx="3">
                                        </rect>
                                        <path fill="currentColor"
                                            d="M9 14.461V9.54a1 1 0 0 1 1.406-.914l5.538 2.461c.792.352.792 1.476 0 1.828l-5.538 2.461A1 1 0 0 1 9 14.461z">
                                        </path>
                                    </svg>
                                </span> 동영상
                            </button>
                            <div class="s1jxyudr">태그
                            </div>

                            <button onclick="location.href='{% url 'tags' %}'" type="click" class="sv813dg tags" id="tags" data-cy="side-nav-all-tags">
                                <span class="i1qqph0t icon side-nav-icon">
                                    <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 1.414.586L20 11.172a4 4 0 0 1 0 5.656L16.828 20a4 4 0 0 1-5.656 0l-8.586-8.586A2 2 0 0 1 2 10V4Zm8 0 8.586 8.586a2 2 0 0 1 0 2.828l-3.172 3.172a2 2 0 0 1-2.828 0L4 10V4h6Z"></path>
                                        <path d="M9 7.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"></path>
                                    </svg>
                                </span> 모든 태그
                            </button>
                        </nav>

                        <div class="bottom-nav">
                            <button aria-label="맨 위로 돌아가기" class="visible" data-cy="side-nav-scroll-to-top">
                                <span class="i1qqph0t icon">
                                    <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                        aria-hidden="true">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M19.707 14.707a1 1 0 0 1-1.414 0L12 8.414l-6.293 6.293a1 1 0 0 1-1.414-1.414l7-7a1 1 0 0 1 1.414 0l7 7a1 1 0 0 1 0 1.414Z">

                                        </path>
                                    </svg>
                                </span>
                            </button>
                        </div>

                    </div>
                    <main class="main">
                        <header class="m1nf84in">
                            <h1 class="pageTitle" data-cy="page-title">내 목록</h1>
                            <div>
                                <button class="b5bt6fr s1xenxab" data-cy="sort-options">
                                    <span class="i1qqph0t icon">
                                        <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                            aria-hidden="true">
                                            <path
                                                d="M8.707 6.707a1 1 0 0 0 0-1.414l-3-3a.999.999 0 0 0-1.414 0l-3 3a1 1 0 0 0 1.414 1.414L4 5.414V21a1 1 0 1 0 2 0V5.414l1.293 1.293a1 1 0 0 0 1.414 0ZM11 6a1 1 0 0 1 1-1h10a1 1 0 1 1 0 2H12a1 1 0 0 1-1-1ZM11 12a1 1 0 0 1 1-1h7a1 1 0 1 1 0 2h-7a1 1 0 0 1-1-1ZM11 18a1 1 0 0 1 1-1h4a1 1 0 1 1 0 2h-4a1 1 0 0 1-1-1Z">
                                            </path>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </header>
                        <div class="cmg9k0j grid" style="position: relative; pointer-events: auto;">
                            <div style="height: 100%; padding-top: 0px; margin-bottom: 20px;">
                                <div class="c1qfws8i" id="root">
                                   
                                </div>
                            </div>
                        </div>
                    </main>         
                </div>
            </div>
        </div>
    </div>
</body>

<!-- FOOTER -->
{% include 'mylist/footer.html' %}