{% load static %}
<!-- HEADER: 로그인 후 프리미엄 헤더 -->
<header class="header-global">
   <div class="row">
       <div class="small-12 large-3 columns">
           <h1 id="header-logo">
               <a href="{% url 'home' %}">Pocket</a>
           </h1>
       </div>
       <div class="small-12 large-9 columns header-menu">
           <nav>
               <ul>
                   <li><a href="#">저장 방법</a></li>
                   <li><a href="{% url 'premium' %}">프리미엄으로 이동</a></li>
                   <li><a href="#" target="_block">지원</a></li>
                   <li><a href="{% url 'mylist' %}" style="font-weight:bold;color:#39b1aa">내 목록</a></li>
               </ul>
           </nav>
       </div>
   </div>
</header>