{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devket</title>

    <link rel="shortcut icon" href="{% static 'images/common/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/premium.css' %}">
</head>

<body>
    <div id="app-container">
        <section class="checkout-page">
            <nav class="checkout-simplenav">
                <div class="logo">
                    <a href='{% url "home" %}'>Devket</a>
                </div>
            </nav>
            <div class="flex">
                <section class="checkout-plan-selection">
                    <section class="checkout-plan">
                        <header>
                            <h3>월간 멤버쉽</h3>
                            <div class="discount"></div>
                        </header>
                        <div>
                            <div class="price">₩5113/월</div>
                        </div>
                    </section>
                </section>
                <section class="wrapped-checkout-form">
                    <h2>구매 완료</h2>
                    <section class="form-wrapper">
                        <form>
                            <div class="input-row">
                                <div class="input-float hidden">
                                    <div class="input-error left">"이름은 필수입니다."</div>
                                </div>
                                <input name="name" type="text" placeholder="이름" value>
                            </div>
                            <div class="input-row">
                                <div class="input-float hidden">
                                    <div class="input-error left">카드 번호가 정확하지 않습니다</div>
                                </div>
                                <div class="stripe-input-wrapper cc unknown StripeElement StripeElement--empty">
                                    <div class="__PrivateStripeElement"
                                        style="margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;">
                                        <iframe name="__privateStripeFrame5176" frameborder="0" allowtransparency="true"
                                            scrolling="no" role="presentation" allow="payment *"
                                            src="https://js.stripe.com/v3/elements-inner-card-a8ea4917ace8766cc2b13bc6c113fc88.html#wait=false&amp;mids[guid]=NA&amp;mids[muid]=06364ff4-2297-4fe3-81f2-65d62da85d00c8ebe3&amp;mids[sid]=94ecc932-b4cb-478e-b49c-5ba9c321e8e9dcfcd8&amp;style[base][::placeholder][color]=%23919191&amp;style[base][::placeholder][fontFamily]=%22Graphik+Web%22%2C+%22proxima-nova%22%2C+%22Helvetica+Neue%22%2C+Helvetica%2C+Arial%2C+sans-serif&amp;placeholder=%EC%B9%B4%EB%93%9C+%EB%B2%88%ED%98%B8&amp;rtl=false&amp;componentName=cardNumber&amp;keyMode=live&amp;apiKey=pk_live_bh3nfDMzSI1Z9MvuwRWg8vWh&amp;referrer=http%3A%2F%2F127.0.0.1%3A8000%2Fpremium%2Fpayment%2F&amp;controllerId=__privateStripeController5171"
                                            title="보안 카드 번호 입력 프레임"
                                            style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; user-select: none !important; transform: translate(0px) !important; color-scheme: light only !important; height: 16.8px;"></iframe><input
                                            class="__PrivateStripeElement-input" aria-hidden="true" aria-label=" "
                                            autocomplete="false" maxlength="1"
                                            style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: -1px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;">
                                    </div>
                                </div>
                            </div>
                            <div class="input-row">
                                <div class="input-float hidden">
                                    <div class="input-error left">카드가 만료되었습니다</div>
                                </div>
                                <div class="stripe-input-wrapper exp StripeElement StripeElement--empty">
                                    <div class="__PrivateStripeElement"
                                        style="margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;">
                                        <iframe name="__privateStripeFrame5177" frameborder="0" allowtransparency="true"
                                            scrolling="no" role="presentation" allow="payment *"
                                            src="https://js.stripe.com/v3/elements-inner-card-a8ea4917ace8766cc2b13bc6c113fc88.html#wait=false&amp;mids[guid]=NA&amp;mids[muid]=06364ff4-2297-4fe3-81f2-65d62da85d00c8ebe3&amp;mids[sid]=94ecc932-b4cb-478e-b49c-5ba9c321e8e9dcfcd8&amp;style[base][::placeholder][color]=%23919191&amp;style[base][::placeholder][fontFamily]=%22Graphik+Web%22%2C+%22proxima-nova%22%2C+%22Helvetica+Neue%22%2C+Helvetica%2C+Arial%2C+sans-serif&amp;placeholder=MM%2FYY&amp;rtl=false&amp;componentName=cardExpiry&amp;keyMode=live&amp;apiKey=pk_live_bh3nfDMzSI1Z9MvuwRWg8vWh&amp;referrer=http%3A%2F%2F127.0.0.1%3A8000%2Fpremium%2Fpayment%2F&amp;controllerId=__privateStripeController5171"
                                            title="보안 유효기간 날짜 입력 프레임"
                                            style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; user-select: none !important; transform: translate(0px) !important; color-scheme: light only !important; height: 16.8px;"></iframe><input
                                            class="__PrivateStripeElement-input" aria-hidden="true" aria-label=" "
                                            autocomplete="false" maxlength="1"
                                            style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: -1px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;">
                                    </div>
                                </div>
                                <div class="stripe-input-wrapper cvc StripeElement StripeElement--empty">
                                    <div class="__PrivateStripeElement"
                                        style="margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;">
                                        <iframe name="__privateStripeFrame5178" frameborder="0" allowtransparency="true"
                                            scrolling="no" role="presentation" allow="payment *"
                                            src="https://js.stripe.com/v3/elements-inner-card-a8ea4917ace8766cc2b13bc6c113fc88.html#wait=false&amp;mids[guid]=NA&amp;mids[muid]=06364ff4-2297-4fe3-81f2-65d62da85d00c8ebe3&amp;mids[sid]=94ecc932-b4cb-478e-b49c-5ba9c321e8e9dcfcd8&amp;style[base][::placeholder][color]=%23919191&amp;style[base][::placeholder][fontFamily]=%22Graphik+Web%22%2C+%22proxima-nova%22%2C+%22Helvetica+Neue%22%2C+Helvetica%2C+Arial%2C+sans-serif&amp;placeholder=%EB%B3%B4%EC%95%88+%EC%BD%94%EB%93%9C&amp;rtl=false&amp;componentName=cardCvc&amp;keyMode=live&amp;apiKey=pk_live_bh3nfDMzSI1Z9MvuwRWg8vWh&amp;referrer=http%3A%2F%2F127.0.0.1%3A8000%2Fpremium%2Fpayment%2F&amp;controllerId=__privateStripeController5171"
                                            title="보안 코드(CVC) 입력 프레임"
                                            style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; user-select: none !important; transform: translate(0px) !important; color-scheme: light only !important; height: 16.8px;"></iframe><input
                                            class="__PrivateStripeElement-input" aria-hidden="true" aria-label=" "
                                            autocomplete="false" maxlength="1"
                                            style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: -1px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;">
                                    </div>
                                </div>
                            </div>
                            <p class="legalese">오늘 Premium 멤버십이 시작됩니다.</p>
                            <p class="legalese">본인은 Mon Nov 07 2022에 ₩ 5113을(를) 청구하고 구독을
                                <a target="_blank" href="#">취소</a>할 때까지
                                <a target="_blank" href="#">서비스 약관</a>
                                에 따라 월마다 표준 가격으로 구독을 갱신할 수있는 권한을 Pocket에 부여합니다.

                            </p>
                            <button>Pocket Premium 활용하기</button>
                        </form>
                    </section>
                </section>
            </div>
        </section>
    </div>
</body>

</html>