{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <link rel="stylesheet" href="{% static '/css/picto.css' %}">
    <link rel="stylesheet" href="{% static '/css/split.css' %}">
    {% block head_css %}
    {% endblock head_css%}
    <title>Devket</title>
</head>
<body>
    <!-- HEADER -->
    {% include 'header.html' %}

    <!-- MAIN -->
    <main>
        {% block content %}
        {% endblock content%}      
    </main>

    <!-- FOOTER -->
    {% include 'footer.html' %}
</body>
</html>