{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <p id="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus illo laborum, exercitationem molestiae doloremque animi veniam harum eos id, eaque, architecto quas maiores minus aliquam voluptatem non qui labore officia?</p>
    <button class="btn" onclick="">하이라이트</button>
    <script defer src="{% static 'js/highlight.js' %}"></script>
</body>

</html>