{% load static %}
<!-- HEADER  -->
<header class="pocket-header platform header">
    <nav class="platform-header">
    <a class="pocket-logo" href="#">
        <div class="pocket-logo-svg">
        <span aria-label="Pocket">Pocket</span>
        </div>
    </a>
    <div class="header-navigation" aria-label="Page navigation">
        <ul class="header-navigation-list links">
        <li class="header-navigation-list-item"><a class="header-navigation-list-item-link"
            href="{% url 'signup' %}">등록</a></li>
        <li class="header-navigation-list-item"><a class="header-navigation-list-item-link"
            href="#">저장 방법</a></li>
        <li class="header-navigation-list-item"><a class="header-navigation-list-item-link"
            href="{% url 'premium' %}">Premium 으로 이동</a></li>
        <li class="header-navigation-list-item"><a class="header-navigation-list-item-link"
            href="#">지원</a></li>
        <li class="header-navigation-list-item"><a class="header-navigation-list-item-link log-in-cta"
            href="{% url 'login' %}">로그인</a></li>
        </ul>
    </div>
    </nav>
</header>