{% load static %}
<footer class="footer-global">
    <div class="row">
      <div class="small-12 large-3 push-9 columns footer-global-social">
        <nav>
            <ul>
                <li>
                <p>연결:</p>
                </li>
                <li class="social-break"><a class="icon-social icon-twitter" href="#"
                    target="_blank">Twitter</a></li>
                <li><a class="icon-social icon-facebook" href="#" target="_blank">Facebook</a>
                </li>
            </ul>
        </nav>
    </div>
        <div class="small-12 large-9 pull-3 columns footer-global-primary">
            <nav>
                <ul>
                    <li><a href="#">블로그</a></li>
                    <li><a href="#">정보</a></li>
                    <li><a href="#">Explore</a></li>
                    <li><a href="#">게시자</a></li>
                    <li><a href="#">개발자</a></li>
                    <li><a href="#"></a></li>
                    <li class="break"><a href="#">서비스 약관</a></li>
                    <li><a href="#">개인정보 보호정책</a></li>
                    <li><a href="#" target="_blank">지원</a></li>
                    <li><a href="#">채용</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
      <div class="small-12 large-3 large-offset-9 columns footer-global-copy">
        <p>&copy; 2021 Read It Later, Inc</p>
      </div>
    </div>
</footer>