{% load static %}
<!-- HEADER -->
<header class="header-global">
    <div class="row">
        <div class="small-12 large-3 columns">
            <h1 id="header-logo">
            <a href="/static/images/home/pocket-logosmall-1816f9c8afe4d696dc77004564c4c210.png">Pocket</a>
            </h1>
        </div>
        <div class="small-12 large-9 columns header-menu">
            <nav>
                <ul>
                    <li><a class="signup" href="#">등록</a></li>
                    <li><a href="#">저장 방법</a></li>
                    <li><a href="#">프리미엄으로 이동</a></li>
                    <li><a href="#" target="_block">지원</a></li>
                    <li class="login"><span><a class="mktg-homepage-signin" href="#">로그인</a></span></li>
                </ul>
            </nav>
        </div>
    </div>
</header>