{% extends "user/base.html" %}
{% load static %}
{% block content %}
<div class="page-forgot forgot-content page-login-ko-kr page-ko-kr">
    <div class="row">
        <div class="small-12 small-centered large-6 large-centered columns">
            <div class="coreform-container forgotform-container">
                <h2>사용자 이름 또는 암호를 잊으셨습니까?</h2>
                <p class="forgot-msg">사용자 이름 또는 이메일을 입력하시면 암호를 재설정하기 위한 지침을 보내 드립니다.</p>
                <form action="/forgot?e=4" method="post">
                    <div class="form-field">
                        <span class="error-bubble"><span class="error-msg"></span><span class="error-arrow"></span></span>
                        <label for="username">사용자 이름</label>
                        <input type="text" id="username" name="usernameOrEmail" autocomplete="off" tabindex="1" placeholder="이메일 또는 사용자 이름">
                    </div>
                    <br>
                    <div class="forgot-processing"></div>
                    <button type="submit" tabindex="2" class="forgot-btn-submit">제출</button>
                    
                    <div class="forgot-footer">
                        <input type="hidden" class="field-form-check" name="form_check" value="">
                        <p>
                            <span class="donthave">계정이 없으십니까? </span>
                            <a href="{% url 'signup' %}">등록</a>
                            <span class="rarrow">&rsaquo;</span>
                        </p>
                    </div>
                    <input name="authenticity_token" value="5d8b1b6b966b5cf1defb5f7a3304a06e69553ffe5baa97d8dc5d837f98e9526c" type="hidden">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content%}      