
{% extends "user/base.html" %}
{% load static%}
{% block content %}

<script type="module" src="{% static 'js/signup.js' %}"></script>
<!-- MAIN -->
<body class="page-signup page-signup-ko-kr page-ko-kr">
  <div class="signup-content signup-content-fxa">
    <div class="row">
      <div class="small-12 large-6 columns wide-show signup-valueprop">
        <div class="desktop">
          <h1>Pocket 사용 시작하기</h1>
            <p class="pocket-illus">개인용 라이브러리에 웹의 모든 것을 저장하십시오.</p>
            <p class="device-illus">여유가 있을 때 언제든, 저장한 자료를 읽어볼 수 있습니다.</p>
            <p class="paper-airplane-illus">매일 발행되는 뉴스레터에서 시사하는 바가 많은 스토리를 확인해 보십시오.</p>
            <p class="fxa-illus">웹의 개방성을 보호하십시오. <a href="#">Firefox 가족</a>의 일부인 Pocket은 신뢰와 개인 정보 보호, 품질을 중요하게 생각합니다.</p>
        </div>
        <div class="mobile">
          <h3>Pocket에 스토리 저장을 시작하세요</h3>
          <p>또한, 일일 뉴스레터에서 흥미로운 아티클도 확인해 보십시오.</p>
        </div>
      </div>
      <div class="small-12 large-6 columns column-signupform">
        <div class="coreform-container signupform-container fxa-signup-container">
          <h2 class="ffsignup-header">Devket 계정 생성</h2>
          <p>Pocket은 Devket 계정을 사용하여 데이터의 기밀과 보안성을 유지합니다. <a href="#">자세히 알아보기</a></p>
          <div class="form-field">
            <span class="error-bubble"><span class="error-msg"></span><span class="error-arrow"></span></span>
            <label for="signup_email">이메일</label>
            <input type="text" id="signup_email" name="email" autocomplete="on" tabindex="3" placeholder="이메일">
          </div>
          <div class="form-field">
            <span class="error-bubble"><span class="error-msg"></span><span class="error-arrow"></span></span>
            <label for="signup_password">비밀번호</label>
            <input type="password" id="signup_password" name="password" tabindex="4" placeholder="비밀번호">
          </div>
          <div class="form-field">
            <span class="error-bubble"><span class="error-msg"></span><span class="error-arrow"></span></span>
            <label for="signup_password_confirm">비밀번호 확인</label>
            <input type="password" id="signup_password_confirm" name="password_confirm" tabindex="5" placeholder="비밀번호 확인">
          </div>
          <div class="signup-processing"></div>
          <div class="form-field submit-field">
            <button type="button" tabindex="5" class="signup-btn-email signup-btn-form">등록</button>
          </div>
          <div class="signup-ordivider">또는</div>
          <div class="login-btn-apple" data-text="Apple로 계속"></div>
              <div class="logingoogle-processing"></div>
              <a href="#" class="login-btn-google">
                <span class="logo"></span>
                <span class="text">Google로 계속</span>
              </a>
          <div class="signup-footer">
            <a href="{% url 'login' %}">
              계정이 이미 있으십니까?
              지금 로그인
            </a> <span class="rarrow">&rsaquo;</span>
          </div>
          <div class="signup-disclaimer">
            가입하면 Pocket의 <a href="#">서비스 약관</a>과 <a href="#">개인정보 보호정책</a>에 동의하는 것입니다.
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock content%}